* {
    box-sizing: border-box;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  body {
    font-family: Roboto, Arial;
    padding: 10px;
    background: #f1f1f1;
    background-image:url(resources/jojo.jpg)
  }
  
  .displayimg{
    width:100%; 
    font-size:80%; 
    text-align:center;
    margin: 10px;
    max-width: 100%;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }

  .header img {
    float: left;
    width: 120px;
    height: 120px;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .imageme{
    width: 90%;
    padding: 10%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .imagerow{
    display:inline-block; 
    justify-content: center;
    width: 100%;
    margin: 20px;
  }

  .leftcolumn {   
    float: left;
    width: 79%;
    padding-left: 1%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 19%;
    padding-left: 1%;
  }
  
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  li{
    margin: 10px 0;
  }